[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
jupyter = "*"
scikit-learn = "==1.0.2"
gunicorn = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
